@model List<DatabaseProject.Models.Property>

    <div class="property-list">
        @foreach (var property in Model)
        {
            <div class="col-md-4 mb-4 property-card">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">@property.PropertyName</h5>
                        <p class="card-text">City: @property.City</p>
                        <p class="card-text">Rent: $@property.Rent</p>
                        <p class="card-text"><small class="text-muted">Floor No: @property.FloorNo, Room No: @property.RoomNo</small></p>
                        @if (!string.IsNullOrEmpty(property.ImageBase64))
                        {
                            <img src="data:image/jpg;base64,@property.ImageBase64" class="img-fluid rounded" alt="Property Image">
                        }
                        <a href="@(Session["UserId"] != null ? Url.Action("Details", "Property", new { id = property.PropertyId }) : Url.Action("Login", "Account", new { returnUrl = Url.Action("Details", "Property", new { id = property.PropertyId }) }))" class="btn btn-primary">
                            View Details
                        </a>
                    </div>
                </div>
            </div>
        }
    </div>
